{
  "rules": {
      "indentation": 2,
      "string-quotes": "double",
      "no-duplicate-selectors": true,
      "color-hex-case": "lower",
      "color-hex-length": "long",
      "selector-combinator-space-after": "always",
      "selector-attribute-quotes": "always",
      "declaration-block-trailing-semicolon": "always",
      "declaration-no-important": true,
      "declaration-colon-space-before": "never",
      "declaration-colon-space-after": "always",
      "number-leading-zero": "always",
      "function-url-quotes": "always",
      "font-family-name-quotes": "always-unless-keyword",
      "comment-whitespace-inside": "always",
      "rule-empty-line-before": "always-multi-line",
      "media-feature-range-operator-space-before": "always",
      "media-feature-range-operator-space-after": "always",
      "media-feature-colon-space-before": "never",
      "media-feature-colon-space-after": "always"
  }
}
