.back-button {
  display: block;
  line-height: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 15%;

  text-decoration: none;
  border: none;
  box-shadow: 2px 2px 1px #888888;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  color: var(--color__title);
  text-align: center;
  transition: 0.2s;

  &:hover {
    background-color: #d6a3a384;
  }
}
