.main-link {
  box-sizing: border-box;
  position: relative;
  width: 150px;
  min-height: 100px;
  line-height: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color__black);

  text-decoration: none;
  box-shadow: 3px 2px rgba(211, 211, 211, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #b4b2b2;
  text-align: center;
  transition: 0.2s;
}

.main-link:hover {
  transform: scale(1.05);
  color: rgba(153, 12, 37, 0.76);
}
