/*----for-all----*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.absolutely-hidden {
  display: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100vh;
  background-color: rgba(161, 159, 159, 0.19);
}

/*----header----*/

.page-header {
  box-sizing: border-box;
  padding: 20px 80px;
  background: url("../images/content-breadcrumb.png") no-repeat 50% 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Montserrat", "Verdana", sans-serif;
  border-top: 3px solid rgba(167, 160, 162, 0.47);
  border-bottom: 3px solid rgba(167, 160, 162, 0.47);
}

.header-nav {
  display: flex;
}

.header-nav__link {
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  display: block;
  color: rgb(183, 188, 191);
  transition: 0.3s;
  width: max-content;
}

.header-nav__item:not(:last-of-type) {
  margin-right: 50px;
}

.header-nav__link--persons::before {
  position: absolute;
  top: 4px;
  left: -20px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/svg/person.svg") no-repeat 50% 50%;
}

.header-nav__link--mainpage::before {
  position: absolute;
  top: 4px;
  left: -20px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/svg/home.svg") no-repeat 50% 50%;
}

.header-nav__link:hover {
  color: rgba(231, 219, 219, 0.49);
  transform: scale(0.9);
}

.header-nav__link--disabled {
  display: inline-block;
  text-decoration: none;
  color: rgba(153, 12, 37, 0.57);
  margin-right: 40px;
}


/*----main----*/
.page-main {
  flex: 1 0 auto;
  padding: 20px 10px;
}


/*---footer----*/
.simple_container {
  padding-left: 20px;
}


.page-footer {
  display: flex;
  max-height: 30px;
  box-sizing: border-box;
  padding: 2px;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(194, 188, 188, 0.49), rgba(149, 143, 143, 0.49));

  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 10px;
  color: #535050;
}

.footer__company {
  margin-right: 10px;
}
