{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="add-form page__centerer">
  <h1>Добавление нового мастера смены</h1>
  <form class="simple-form" action="../../php/create_master.php" method="post">
    <ul class="simple-form__list">
      <li class="simple-form__item">
        <label class="simple-form__label" for="name">Фамилия мастера</label>
        <input class="simple-form__input" id="name" type="text" name="name">
      </li>
      <li class="simple-form__item">
        <label class="simple-form__label" for="login"> Логин </label>
        <input class="simple-form__input" id="login" type="text" name="login">
      </li>
      <li class="simple-form__item">
        <label class="simple-form__label" for="password"> Пароль </label>
        <input class="simple-form__input" id="password" type="text" name="password">
      </li>
    </ul>
    <button class="simple-form__button" type="submit">Добавить нового мастера смены</button>
  </form>
</section>
<a class="back-button" href="../../index.html">Вернуться на главную</a>

{% endblock %}
