{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="add-form page__centerer">
  <h1 class="visible-hidden">Добавление нового заказчика</h1>
  <form class="simple-form" action="../../php/create_customer.php" method="post">
    <label class="simple-form__label" for="customer"> Наименование заказчика </label>
    <textarea class="simple-form__input simple-form__textarea" id="customer" name="customer"
      placeholder="Например, 'ООО Фацер'"></textarea>
    <button class="simple-form__button" type="submit">Добавить нового заказчика </button>
  </form>
</section>
<a class="back-button" href="../../index.html">Вернуться на главную</a>

{% endblock %}
