{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="page__centerer add-form">
  <h1 class="add-form__title">Добавление нового оператора</h1>
  <form class="simple-form" action="../../php/create_operator.php" method="post">
    <ul class="simple-form__list reset-list">
      <li class="simple-form__item">
        <label class="simple-form__label" for="name">Ф.И.О оператора*</label>
        <input class="simple-form__input" id="name" type="text" name="name" placeholder="Иванов Иван Иванович" required>
      </li>
      <li class="simple-form__item">
        <label class="simple-form__label" for="login"> Логин*</label>
        <input class="simple-form__input" id="login" type="text" name="login" placeholder="ИвановИИ" required>
      </li>
      <li class="simple-form__item">
        <label class="simple-form__label" for="password">Пароль</label>
        <input class="simple-form__input" id="password" type="text" name="password">
      </li>
    </ul>
    <div class="simple-form__submit">
      <button class="simple-form__button" type="submit">Добавить нового оператора </button>
      <span class="simple-form__span">
        <sup>* - обязательные поля</sup>
      </span>
    </div>
  </form>
</section>
<a class="back-button" href="../../index.html">Вернуться на главную</a>

{% endblock %}
