{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="add-form page__centerer">
  <h1 class="add-form__title">Добавление нового заказчика</h1>
  <form class="simple-form" action="../../php/create_customer.php" method="post">
    <ul class="simple-form__list reset-list">
      <li class="simple-form__item simple-form__item--wide">
        <label class="simple-form__label" for="customer"> Наименование заказчика*</label>
        <textarea class="simple-form__input simple-form__textarea" id="customer" name="customer"
          placeholder="Например, 'ООО Фацер'" required></textarea>
      </li>
    </ul>
    <span class="simple-form__span">
      <sup>* - обязательные поля</sup>
    </span>
    <div class="simple-form__submit">
      <button class="simple-form__button" type="submit">Добавить нового заказчика </button>
    </div>
  </form>
</section>

{% endblock %}
