{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="adds">
  <h1 class="visually-hidden">Список форм ввода в базу данных</h1>
  <ul class="adds__list reset-list">
    <li class="adds__item">
      <a class="adds__link main-link" href="add_operator.html">Добавить оператора</a>
    </li>
    <li class="adds__item">
      <a class="adds__link main-link" href="add_master.html">Добавить мастера</a>
    </li>
    <li class="adds__item">
      <a class="adds__link main-link" href="add_customer.html">Добавить заказчика</a>
    </li>
    <li class="adds__item">
      <a class="adds__link main-link" href="add_order.html">Добавить заказ</a>
    </li>
  </ul>
</section>
  <a class="back-button" href="index.html">Вернуться на главную</a>


{% endblock %}
