{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "../templates/layout.twig" %}

{% block page__main %}

<h1 class="main-title reset-list">НТЛ Упаковка</h1>
<section class="main-add">
  <h2 class="main-add__title reset-list">Выберите необходимое оборудование:</h2>
  <ul class="machines__list reset-list">
    <li class="machine__item machines__item--miraflex">
      <a class="machines__link machines__link--miraflex link" type="button">Miraflex</a>
      <ul class="miraflex-inner inner-list reset-list absolutely-hidden">
        <li class="inner__item">
          <a class="inner__link link" href="machines/miraflex1/miraflex1.html">Miraflex-1</a>
        </li>
        <li class="inner__item">
          <a class="inner__link link" href="machines/miraflex2/miraflex2.html">Miraflex-2</a>
        </li>
      </ul>
    </li>
    <li class="machines__item">
      <a class="machines__link machines__link--solo link" href="machines/lemo/lemo.html">LEMO</a>
    </li>
    <li class="machines__item machines__item--fisher">
      <a class="machines__link machines__link--fisher link">Fisher & Krecke</a>
      <ul class="fisher-inner inner-list reset-list absolutely-hidden">
        <li class="inner__item">
          <a class="inner__link link" href="machines/fisher4/fisher4.html">Fisher & Krecke-4</a>
        </li>
        <li class="inner__item">
          <a class="inner__link link" href="machines/fisher5/fisher5.html">Fisher & Krecke-5</a>
        </li>
        <li class="inner__item">
          <a class="inner__link link" href="machines/fisher6/fisher6.html">Fisher & Krecke-6</a>
        </li>
      </ul>
    </li>
    <li class="machines__item machines__item--laminator">
      <a class="machines__link machines__link--laminator link">Ламинатор</a>
      <ul class="laminator-inner inner-list reset-list absolutely-hidden">
        <li class="inner__item">
          <a class="inner__link link" href="machines/laminator1/laminator1.html">Ламинатор-1</a>
        </li>
        <li class="inner__item">
          <a class="inner__link link" href="machines/laminator2/laminator2.html">Ламинатор-2</a>
        </li>
        <li class="inner__item">
          <a class="inner__link link" href="machines/laminator3/laminator3.html">Ламинатор-3</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

{% endblock %}
