{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "../templates/layout.twig" %}

{% block page__main %}

<section class="machines">
  <h1 class="machines__title reset-list">НТЛ Упаковка</h1>
  <h2 class="machines__subtitle reset-list">Выберите необходимое оборудование:</h2>
  <ul class="machines__list reset-list">
    <li class="machines__item machines__item--miraflex">
      <a class="machines__link ">Miraflex</a>
      <ul class="machines__sublist machines__sublist--miraflex reset-list absolutely-hidden">
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/miraflex1/miraflex1.html">Miraflex-1</a>
        </li>
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/miraflex2/miraflex2.html">Miraflex-2</a>
        </li>
      </ul>
    </li>
    <li class="machines__item ">
      <a class="machines__link machines__link--solo" href="machines/lemo/lemo.html">LEMO</a>
    </li>
    <li class="machines__item machines__item--fisher">
      <a class="machines__link">Fisher & Krecke</a>
      <ul class="machines__sublist machines__sublist--fisher reset-list absolutely-hidden">
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/fisher4/fisher4.html">Fisher & Krecke-4</a>
        </li>
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/fisher5/fisher5.html">Fisher & Krecke-5</a>
        </li>
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/fisher6/fisher6.html">Fisher & Krecke-6</a>
        </li>
      </ul>
    </li>
    <li class="machines__item machines__item--laminator">
      <a class="machines__link">Ламинатор</a>
      <ul class="machines__sublist machines__sublist--laminator reset-list absolutely-hidden">
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/laminator1/laminator1.html">Ламинатор-1</a>
        </li>
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/laminator2/laminator2.html">Ламинатор-2</a>
        </li>
        <li class="machines__subitem">
          <a class="machines__sublink" href="machines/laminator3/laminator3.html">Ламинатор-3</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

{% endblock %}
