<form action="create_main_work.php" method="POST">
  <h1 class="visible-hidden">Основная таблица работ Ламинатор-1</h1>

  <article class="page-container">
    <section class="header-section">
      <h2 class="header-section__title">График работ</h2>
    </section>
    <section class="header-section">
      <h2 class="header-section__title">Расход материала</h2>
    </section>
    <section class="header-section">
      <h2 class="header-section__title">Технические операции</h2>
    </section>


    <section class="data-column-1">
      <h3 class="visible-hidden">График работ</h3>
      <ul class="work-block work-block--first">

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="work_date">Дата начала смены</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><input class="inside-list__input inside-list__input--first" type="date" name="work_date" id="work_date">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="work_shift">Рабочая смена</label>
          <ul class="inside-list inside-list--first inside-list--radio">
            <li class="work_shift__item">
              <input class="work_shift__input" id="work_shift-1" type="radio" name="work_shift" value="1">
              <label class="work_shift__label" for="work_shift-1">с 8 до 20</label>
            </li>
            <li class="work_shift__item">
              <input class="work_shift__input" id="work_shift-2" type="radio" name="work_shift" value="2">
              <label class="work_shift__label" for="work_shift-2">с 20 до 8</label>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="master">Мастер смены</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="master" id="master">
                <option value="Выберите мастера смены" disabled>Выберите мастера смены</option>
                <?php $query = mysqli_query($DB_connect, "SELECT login FROM `master` ORDER BY login");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['login'] ?>>
                  <?= $row['login'] ?>
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="operator">Оператор</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="operator" id="operator1">
                <option value="Выберите первого оператора" disabled>Выберите первого оператора</option>
                <?php $query = mysqli_query($DB_connect, "SELECT login FROM `operator` ORDER BY login");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['login'] ?>>
                  <?= $row['login'] ?>
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__itemt--first">
          <label class="work-block__label work-block__label--first" for="operator_student">Ученик оператора</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="operator_student"
                id="operator_student">
                <option value="Выберите второго оператора" disabled>Выберите ученика оператора</option>
                <?php $query = mysqli_query($DB_connect, "SELECT login FROM `operator` ORDER BY login");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['login'] ?>>
                  <?= $row['login'] ?>
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="operator_helper">Подсобный рабочий</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="operator_helper"
                id="operator_helper">
                <option value="Выберите третьего оператора" disabled>Выберите подсобного рабочего</option>
                <?php $query = mysqli_query($DB_connect, "SELECT login FROM `operator` ORDER BY login");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['login'] ?>>
                  <?= $row['login'] ?>
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="customer">Заказчик</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="customer" id="customer">
                <option value="Выберите заказчика" disabled>Выберите заказчика</option>
                <?php $query = mysqli_query($DB_connect, "SELECT customer FROM `client` ORDER BY customer");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value="<?= $row['customer'] ?>"> "
                  <?= $row['customer'] ?>"
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="print_title">Наименование заказа</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><select class="inside-list__select inside-list__select--first" name="print_title" id="print_title">
                <option value="Выберите заказ" disabled>Выберите заказ</option>
                <?php $query = mysqli_query($DB_connect, "SELECT order_title FROM `client_order` ORDER BY order_title  ");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value="<?= $row['order_title'] ?>"> "
                  <?= $row['order_title'] ?>"
                </option>
                <? } ?>
              </select></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="tkn">Номер ТКН</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><input class="inside-list__input inside-list__input--first" type="text" name="tkn" id="tkn"
                pattern="[0-9а-я]+"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="circulation">Тираж</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><input class="inside-list__input inside-list__input--first" type="number" name="circulation"
                id="circulation"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="work_start">Начало работ</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><input class="inside-list__input inside-list__input--first" type="datetime-local" name="work_start"
                id="work_start">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--first">
          <label class="work-block__label work-block__label--first" for="work_finish">Окончание работ</label>
          <ul class="inside-list inside-list--first inside-list--inner">
            <li><input class="inside-list__input inside-list__input--first" type="datetime-local" name="work_finish"
                id="work_finish">
            </li>
          </ul>
        </li>
      </ul>
    </section>


    <section class="data-column-2">

      <h3 class="visible-hidden">Расход материала</h3>
      <ul class="work-block work-block--second reset-list">
        
        <li class="work-block__item work-block__item--second">
          <label class="work-block__label work-block__label--second" for="material">Материал 1</label>
          <ul class="work-block__container reset-list">
            <li>
              <select class="inside-list__select inside-list__select--second" name="material1" id="material">
                <option value="Выберите первый материал" disabled>Выберите первый материал</option>
                <?php $query = mysqli_query($DB_connect, "SELECT material FROM `matbase` ORDER BY material");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['material'] ?>>
                  <?= $row['material'] ?>
                </option>
                <? } ?>
              </select>
            </li>
            <li>
              <label class="visible-hidden" for="matcount">Количество сырья</label>
              <input class="inside-list__input inside-list__input--second" type="number" name="mat1count" id="matcount"
                placeholder="количество сырья, кг" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="width1" id="sizes"
                placeholder="ширина" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="thickness1" id="sizes"
                placeholder="толщина" step="0.01">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--second">
          <label class="work-block__label work-block__label--second" for="material">Материал 2</label>
          <ul class="work-block__container reset-list">
            <li>
              <select class="inside-list__select inside-list__select--second" name="material2" id="material">
                <option value="Выберите второй материал" disabled>Выберите второй материал</option>
                <?php $query = mysqli_query($DB_connect, "SELECT material FROM `matbase` ORDER BY material");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['material'] ?>>
                  <?= $row['material'] ?>
                </option>
                <? } ?>
              </select>
            </li>
            <li>
              <label class="visible-hidden" for="matcount">Количество сырья</label>
              <input class="inside-list__input inside-list__input--second" type="number" name="mat2count" id="matcount"
                placeholder="количество сырья, кг" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="width2" id="sizes"
                placeholder="ширина" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="thickness2" id="sizes"
                placeholder="толщина" step="0.01">
            </li>

          </ul>
        </li>

        <li class="work-block__item work-block__item--second">
          <label class="work-block__label work-block__label--second" for="material">Материал 3</label>
          <ul class="work-block__container reset-list">
            <li>
              <select class="inside-list__select inside-list__select--second" name="material3" id="material">
                <option value="Выберите первый материал" disabled>Выберите первый материал</option>
                <?php $query = mysqli_query($DB_connect, "SELECT material FROM `matbase` ORDER BY material");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['material'] ?>>
                  <?= $row['material'] ?>
                </option>
                <? } ?>
              </select>
            </li>
            <li>
              <label class="visible-hidden" for="matcount">Количество сырья</label>
              <input class="inside-list__input inside-list__input--second" type="number" name="mat3count" id="matcount"
                placeholder="количество сырья, кг" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="width3" id="sizes"
                placeholder="ширина" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="thickness3" id="sizes"
                placeholder="толщина" step="0.01">
            </li>

          </ul>
        </li>

        <li class="work-block__item work-block__item--second">
          <label class="<work-block__label work-block__label--second" for="material">Материал 4</label>
          <ul class="work-block__container reset-list">
            <li>
              <select class="inside-list__select inside-list__select--second" name="material4" id="material">
                <option value="Выберите первый материал" disabled>Выберите первый материал</option>
                <?php $query = mysqli_query($DB_connect, "SELECT material FROM `matbase` ORDER BY material");
                              while ($row = mysqli_fetch_assoc($query)) {
                                  ?>
                <option value=<?=$row['material'] ?>>
                  <?= $row['material'] ?>
                </option>
                <? } ?>
              </select>
            </li>
            <li>
              <label class="visible-hidden" for="matcount">Количество сырья</label>
              <input class="inside-list__input inside-list__input--second" type="number" name="mat4count" id="matcount"
                placeholder="количество сырья, кг" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="width4" id="sizes"
                placeholder="ширина" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="thickness4" id="sizes"
                placeholder="толщина" step="0.01">
            </li>

          </ul>
          </div>
        </li>

        <li class="work-block__item work-block__item--second">
          <label class="work-block__label work-block__label--second" for="workout">Выработка</label>
          <ul class="work-block__container reset-list">
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="workout_mass"
                id="workout" placeholder="кг" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="workout_length"
                id="workout" placeholder="пог.м." step="0.01">
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="workout_m2" id="workout"
                placeholder="м2" step="0.01">
            </li>
            <li>
              <input class="inside-list__input inside-list__input--second" type="number" name="otk_mass" id="workout"
                placeholder="на ОТК, кг" step="0.01">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--second">
          <label class="work-block__label work-block__label--second" for="waste">Отходы</label>
          <ul class="work-block__container reset-list">
            <li><input class="inside-list__input inside-list__input--second" type="number" name="waste_print" id="waste"
                placeholder="печати, кг" step="0.01"></li>
            <li><input class="inside-list__input inside-list__input--second" type="number" name="waste_lam" id="waste"
                placeholder="ламинации , кг" step="0.01"></li>
            <li><input class="inside-list__input inside-list__input--second" type="number" name="waste_sum" id="waste"
                placeholder="итоговые , кг" step="0.01"></li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="data-column-3">
      <h3 class="visible-hidden">Технические операции</h3>
      <ul class="work-block work-block--third">

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label work-block__label--third" for="prepare">Приправка</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="prepare" id="prepare"
                step="0.01">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="prepare_shirt">Приправка с заменой
            рубашки</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="prepare_shirt"
                id="prepare_shirt" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="flushing">Расход на промывку</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="flushing" id="flushing"
                step="0.01">
            </li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="tech_clean">Техчистка</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="tech_clean"
                id="tech_clean" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="change_glue">Замена клея</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="change_glue"
                id="change_glue" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="calibrating">Калибровка</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="calibrating"
                id="calibrating" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="electro_mechanical">Эл/мех часть</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="electro_mechanical"
                id="electro_mechanical" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="tech_service">Техническое обслуживание</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="tech_service"
                id="prepare" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="no_">Часы отсутствия</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="no_human" id="no_"
                placeholder="людей" step="0.01"></li>
            <li><input class="inside-list__input inside-list__input--third" type="number" name="no_work" id="no_"
                placeholder="заказов" step="0.01"></li>
            <li><input class="inside-list__input inside-list__input--third" type="number" name="no_raw" id="no_"
                placeholder="сырья" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="remain">Остаток</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="remain_perv" id="remain"
                placeholder="первички" step="0.01"></li>
            <li><input class="inside-list__input inside-list__input--third" type="number" name="remain_sec" id="remain"
                placeholder="вторички" step="0.01"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="diff_circulation">Разница тиража</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><input class="inside-list__input inside-list__input--third" type="number" name="diff_circulation"
                id="diff_circulation" placeholder="+- шт"></li>
          </ul>
        </li>

        <li class="work-block__item work-block__item--third">
          <label class="work-block__label inside-list__label--third" for="prepare_ok">Приправка принята</label>
          <ul class="inside-list inside-list--third inside-list--radio">
            <li>
              <input class="prepare__input" id="prepare-radio-1" type="radio" name="prepare_ok" value="Да">
              <label class="prepare__label" for="prepare-radio-1">Да</label>
            </li>
            <li>
              <input class="prepare__input" id="prepare-radio-2" type="radio" name="prepare_ok" value="Нет">
              <label class="prepare__label" for="prepare-radio-2">Нет</label>
          </ul>
        </li>


        <li class="work-block__item work-block__item--third textarea">
          <label class="work-block__label inside-list__label--third" for="notes">Примечание</label>
          <ul class="inside-list inside-list--third inside-list--inner">
            <li><textarea class="inside-list__input inside-list__input--third inside-list__textarea" rows="4" cols="30"
                name="notes" id="notes" placeholder=". . . "></textarea></li>
          </ul>
        </li>
      </ul>
    </section>
    <?php
      mysqli_close($DB_connect);
      mysqli_close($DB_connect_machine);
      ?>
  </article>

  <div class="form-footer">
    <button class="form-footer__main-button" type="submit">Внести данные</button>
    <a class="form-footer__link" href="laminator1.html">Вернуться на Ламинатор-1</a>
  </div>
</form>
