<section class="show-table">
  <table class="table-sort">
    <caption class="table-sort__caption">Расход материалов
      <span class="table-sort__title">{{ machineName }}</span>
    </caption>

    {% if machineType == "print" %}
    <thead class="table-sort__head">
      <tr class="table-sort__row">
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">№</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Заказчик</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Наименование заказа</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Номер ТКН</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Тираж заказа</th>
        <th class="table-sort__header" colspan="3">Материалы</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Кол-во красок</th>
        <th class="table-sort__header" colspan="2">Размеры</th>
        <th class="table-sort__header" colspan="3">Количество сырья</th>
        <th class="table-sort__header" colspan="3">Выработка</th>
        <th class="table-sort__header" colspan="3">Отходы</th>
      </tr>
      <tr class="table-sort__row table-sort__row--small">
        <th class="table-sort__header table-sort__header--sorted">материал 1</th>
        <th class="table-sort__header table-sort__header--sorted">материал 2</th>
        <th class="table-sort__header table-sort__header--sorted">материал 3</th>
        <th class="table-sort__header table-sort__header--sorted">ширина</th>
        <th class="table-sort__header table-sort__header--sorted">толщина</th>
        <th class="table-sort__header table-sort__header--sorted">материал 1, <small>кг</small></th>
        <th class="table-sort__header table-sort__header--sorted">материал 2, <small>кг</small></th>
        <th class="table-sort__header table-sort__header--sorted">материал 3, <small>кг</small></th>
        <th class="table-sort__header table-sort__header--sorted">кг</th>
        <th class="table-sort__header table-sort__header--sorted">пог.м.</th>
        <th class="table-sort__header table-sort__header--sorted">m<sup>2</sup></th>
        <th class="table-sort__header table-sort__header--sorted">печать</th>
        <th class="table-sort__header table-sort__header--sorted">сырья</th>
        <th class="table-sort__header table-sort__header--sorted">итого</th>
      </tr>
    </thead>
    <tbody class="table-sort__body">
      <tr class="table-sort__row">
        <?php
          $query = mysqli_query($DB_connect_machine, "SELECT `id`, `customer`, `print_title`, `tkn`, `circulation`, `material1`, `material2`, `material3`, `colors`, `width`, `thickness`, `mat1count`, `mat2count`, `mat3count`, `workout_mass`, `workout_length`, `workout_m2`, `waste_print`, `waste_raw`, `waste_sum` FROM `primbase` ");
          $query = mysqli_fetch_all($query);
          foreach ($query as $qu) {
          ?>
        <td>
          <?= $qu[0] ?>
        </td>
        <td>
          <?= $qu[1] ?>
        </td>
        <td>
          <?= $qu[2] ?>
        </td>
        <td>
          <?= $qu[3] ?>
        </td>
        <td>
          <?= $qu[4] ?>
        </td>
        <td>
          <?= $qu[5] ?>
        </td>
        <td>
          <?= $qu[6] ?>
        </td>
        <td>
          <?= $qu[7] ?>
        </td>
        <td>
          <?= $qu[8] ?>
        </td>
        <td>
          <?= $qu[9] ?>
        </td>
        <td>
          <?= $qu[10] ?>
        </td>
        <td>
          <?= $qu[11] ?>
        </td>
        <td>
          <?= $qu[12] ?>
        </td>
        <td>
          <?= $qu[13] ?>
        </td>
        <td>
          <?= $qu[14] ?>
        </td>
        <td>
          <?= $qu[15] ?>
        </td>
        <td>
          <?= $qu[16] ?>
        </td>
        <td>
          <?= $qu[17] ?>
        </td>
        <td>
          <?= $qu[18] ?>
        </td>
        <td>
          <?= $qu[19] ?>
        </td>
      </tr>
      <?php
      }

      ?>
    </tbody>
    {% endif %}

    {% if machineType == "lamination" %}
    <thead class="table-sort__head">
      <tr class="table-sort__row">
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">№</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Заказчик</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Наименование заказа</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Номер ТКН</th>
        <th class="table-sort__header table-sort__header--sorted" rowspan="2">Тираж заказа</th>
        <th class="table-sort__header" colspan="4">Материал 1</th>
        <th class="table-sort__header" colspan="4">Материал 2</th>
        <th class="table-sort__header" colspan="4">Материал 3</th>
        <th class="table-sort__header" colspan="4">Материал 4</th>
        <th class="table-sort__header" colspan="4">Выработка</th>
        <th class="table-sort__header" colspan="3">Отходы</th>
      </tr>
      <tr class="table-sort__row table-sort__row--small">
        <th class="table-sort__header table-sort__header--sorted">Материал</th>
        <th class="table-sort__header table-sort__header--sorted">кол-во сырья</th>
        <th class="table-sort__header table-sort__header--sorted">ширина</th>
        <th class="table-sort__header table-sort__header--sorted">толщина</th>
        <th class="table-sort__header table-sort__header--sorted">Материал</th>
        <th class="table-sort__header table-sort__header--sorted">кол-во сырья</th>
        <th class="table-sort__header table-sort__header--sorted">ширина</th>
        <th class="table-sort__header table-sort__header--sorted">толщина</th>
        <th class="table-sort__header table-sort__header--sorted">Материал</th>
        <th class="table-sort__header table-sort__header--sorted">кол-во сырья</th>
        <th class="table-sort__header table-sort__header--sorted">ширина</th>
        <th class="table-sort__header table-sort__header--sorted">толщина</th>
        <th class="table-sort__header table-sort__header--sorted">Материал</th>
        <th class="table-sort__header table-sort__header--sorted">кол-во сырья</th>
        <th class="table-sort__header table-sort__header--sorted">ширина</th>
        <th class="table-sort__header table-sort__header--sorted">толщина</th>
        <th class="table-sort__header table-sort__header--sorted">кг</th>
        <th class="table-sort__header table-sort__header--sorted">пог.м.</th>
        <th class="table-sort__header table-sort__header--sorted">м<sup>2</sup></th>
        <th class="table-sort__header table-sort__header--sorted">на ОТК, <small>кг</small></th>
        <th class="table-sort__header table-sort__header--sorted">печать</th>
        <th class="table-sort__header table-sort__header--sorted">ламинация</th>
        <th class="table-sort__header table-sort__header--sorted">итого</th>
      </tr>
    </thead>
    <tbody class="table-sort__body">
      <tr class="table-sort__row">
        <?php
            $query = mysqli_query($DB_connect_machine, "SELECT `id`, `customer`, `print_title`, `tkn`, `circulation`, `material1`, `mat1count`, `width1`, `thickness1`, `material2`,`mat2count`, `width2`, `thickness2`, `material3`,`mat3count`, `width3`, `thickness3`,`material4`,`mat4count`, `width4`, `thickness4`, `workout_mass`, `workout_m2`, `otk_mass`, `workout_length`, `waste_print`, `waste_lam`, `waste_sum` FROM `primbase` ");
            $query = mysqli_fetch_all($query);
            foreach ($query as $qu) {
            ?>
        <td>
          <?= $qu[0] ?>
        </td>
        <td>
          <?= $qu[1] ?>
        </td>
        <td>
          <?= $qu[2] ?>
        </td>
        <td>
          <?= $qu[3] ?>
        </td>
        <td>
          <?= $qu[4] ?>
        </td>
        <td>
          <?= $qu[5] ?>
        </td>
        <td>
          <?= $qu[6] ?>
        </td>
        <td>
          <?= $qu[7] ?>
        </td>
        <td>
          <?= $qu[8] ?>
        </td>
        <td>
          <?= $qu[9] ?>
        </td>
        <td>
          <?= $qu[10] ?>
        </td>
        <td>
          <?= $qu[11] ?>
        </td>
        <td>
          <?= $qu[12] ?>
        </td>
        <td>
          <?= $qu[13] ?>
        </td>
        <td>
          <?= $qu[14] ?>
        </td>
        <td>
          <?= $qu[15] ?>
        </td>
        <td>
          <?= $qu[16] ?>
        </td>
        <td>
          <?= $qu[17] ?>
        </td>
        <td>
          <?= $qu[18] ?>
        </td>
        <td>
          <?= $qu[19] ?>
        </td>
        <td>
          <?= $qu[20] ?>
        </td>
        <td>
          <?= $qu[21] ?>
        </td>
        <td>
          <?= $qu[22] ?>
        </td>
        <td>
          <?= $qu[23] ?>
        </td>
        <td>
          <?= $qu[24] ?>
        </td>
        <td>
          <?= $qu[25] ?>
        </td>
        <td>
          <?= $qu[26] ?>
        </td>
        <td>
          <?= $qu[27] ?>
        </td>


      </tr>
      <?php
        }

        ?>
    </tbody>
    {% endif %}

  </table>

  <!-- <script>
        $(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
                theme : 'blue',
                // change the default sorting order from 'asc' to 'desc'
                sortInitialOrder: "desc"
            });
        });
    </script> -->

  <?php
    mysqli_close($DB_connect);
    mysqli_close($DB_connect_machine);
    ?>

</section>
