<section class="show-table">
  <table class="table-sort">
    <caption class="table-sort__caption">График работ
      <span class="table-sort__title">{{ machineName }}</span>
    </caption>

    {% if machineType == "print" %}
    <thead class="table-sort__head">
      <tr class="table-sort__row">
        <th class="table-sort__header table-sort__header--sorted">№</th>
        <th class="table-sort__header table-sort__header--sorted">Дата смены</th>
        <th class="table-sort__header table-sort__header--sorted">№ смены</th>
        <th class="table-sort__header table-sort__header--sorted">Мастер смены</th>
        <th class="table-sort__header table-sort__header--sorted">Оператор 1</th>
        <th class="table-sort__header table-sort__header--sorted">Оператор 2</th>
        <th class="table-sort__header table-sort__header--sorted">Оператор 3</th>
        <th class="table-sort__header table-sort__header--sorted">Помощник оператора</th>
        <th class="table-sort__header table-sort__header--sorted">Номер ТКН</th>
        <th class="table-sort__header table-sort__header--sorted">Дата начала работ</th>
        <th class="table-sort__header table-sort__header--sorted">Дата окончания работ</th>
        <th class="table-sort__header table-sort__header--sorted">Заказчик</th>
        <th class="table-sort__header table-sort__header--sorted">Наименование заказа</th>
      </tr>
    </thead>
    <tbody class="table-sort__body">
      <tr class="table-sort__row">
        <?php
      $query = mysqli_query($DB_connect_machine, "SELECT `id`, `work_date`, `work_shift`, `master`, `operator1`, `operator2`, `operator3`, `operator_helper`, `tkn`, `work_start`, `work_finish`, `customer`, `print_title` FROM `primbase` ORDER BY work_date");
      $query = mysqli_fetch_all($query);
      foreach ($query as $qu) {
      ?>
        <td>
          <?= $qu[0] ?>
        </td>
        <td>
          <?= $qu[1] ?>
        </td>
        <td>
          <?= $qu[2] ?>
        </td>
        <td>
          <?= $qu[3] ?>
        </td>
        <td>
          <?= $qu[4] ?>
        </td>
        <td>
          <?= $qu[5] ?>
        </td>
        <td>
          <?= $qu[6] ?>
        </td>
        <td>
          <?= $qu[7] ?>
        </td>
        <td>
          <?= $qu[8] ?>
        </td>
        <td>
          <?= $qu[9] ?>
        </td>
        <td>
          <?= $qu[10] ?>
        </td>
        <td>
          <?= $qu[11] ?>
        </td>
        <td>
          <?= $qu[12] ?>
        </td>
      </tr>
      <?php
      }
      ?>
    </tbody>
    {% endif %}

    {% if machineType == "lamination" %}
    <thead class="table-sort__head">
      <tr class="table-sort__row">
        <th class="table-sort__header table-sort__header--sorted">№</th>
        <th class="table-sort__header table-sort__header--sorted">Дата смены</th>
        <th class="table-sort__header table-sort__header--sorted">№ смены</th>
        <th class="table-sort__header table-sort__header--sorted">Мастер смены</th>
        <th class="table-sort__header table-sort__header--sorted">Оператор</th>
        <th class="table-sort__header table-sort__header--sorted">Ученик оператора</th>
        <th class="table-sort__header table-sort__header--sorted">Подсобный рабочий</th>
        <th class="table-sort__header table-sort__header--sorted">Номер ТКН</th>
        <th class="table-sort__header table-sort__header--sorted">Дата начала работ</th>
        <th class="table-sort__header table-sort__header--sorted">Дата окончания работ</th>
        <th class="table-sort__header table-sort__header--sorted">Заказчик</th>
        <th class="table-sort__header table-sort__header--sorted">Наименование заказа</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-sort__row">
        <?php
      $query = mysqli_query($DB_connect_machine, "SELECT `id`, `work_date`, `work_shift`, `master`, `operator`, `operator_student`, `operator_helper`, `tkn`, `work_start`, `work_finish`, `customer`, `print_title` FROM `primbase` ORDER BY work_date");
      $query = mysqli_fetch_all($query);
      foreach ($query as $qu) {
      ?>
        <td>
          <?= $qu[0] ?>
        </td>
        <td>
          <?= $qu[1] ?>
        </td>
        <td>
          <?= $qu[2] ?>
        </td>
        <td>
          <?= $qu[3] ?>
        </td>
        <td>
          <?= $qu[4] ?>
        </td>
        <td>
          <?= $qu[5] ?>
        </td>
        <td>
          <?= $qu[6] ?>
        </td>
        <td>
          <?= $qu[7] ?>
        </td>
        <td>
          <?= $qu[8] ?>
        </td>
        <td>
          <?= $qu[9] ?>
        </td>
        <td>
          <?= $qu[10] ?>
        </td>
        <td>
          <?= $qu[11] ?>
        </td>
      </tr>
      <?php
      }
      ?>
    </tbody>
    {% endif %}

  </table>

  <?php
  mysqli_close($DB_connect);
  mysqli_close($DB_connect_machine);
  ?>


  <script>
      $(function() {
          // call the tablesorter plugin
          $("table").tablesorter({
              theme : 'blue',
              // change the default sorting order from 'asc' to 'desc'
              sortInitialOrder: "desc"
          });
      });
  </script>

</section>
